.container--destinos {
    flex-direction: column;

    @media (min-width: 1025px) {
        justify-content: center;
        width: 50%;
        margin: auto;
    }
}

.item--destinos {
    color: white;
}

.figure__image--destinos {
    margin: auto;
    width: 100%;
}

.item--destinos p {
    width: 70%;
    margin: auto;
}
