.item--detalle--nosotros {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../images/nosotros/nosotrosUniverse.jpg);
}

.item--detalle--nosotros--imagen-cabecera {
  background-image: url(../images/nosotros/nosotrosViaLactea.jpg);
  min-height: 500px;
  color: white;
  font-size: 3em;
  text-align: center;
}

.article--nosotros {
  width: 70%;
  margin: auto;
  font-size: $font;
  line-height: 1.7em;
}

.article__h2--nosotros {
  text-align: center;
}

.figure--nosotros {
  @media (min-width: 1200px) {
    width: 60%;
    margin: auto;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.svgCabevera {
  animation-duration: 2s;
  animation-name: bounceIn;
}
